<footer class="footer bg-light redounded-top text-center " >
    <div class="container py-2">
        <p class="text-grey my-2">
            &copy {{grupo.nombre + ' ' +grupo.empresa}}
        </p>
    </div>
    
</footer>
