<br>
<div class="container contenedor_principal">
	<img id="logo" src="assets/lt_negrorojo.png"/>
    <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 id="cabeza">Sign In</h3>
                    <!-- <div class="d-flex justify-content-end social_icon">
                      <span>
                          <i class="fab fa-facebook-square"></i>
                      </span>
                        <span>
                          <i class="fab fa-google-plus-square"></i>
                      </span>
                        <span>
                          <i class="fab fa-twitter-square"></i>
                      </span>
                    </div>
 -->
                    <div class="card-body">
                        <form>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="fas fa-key"></i>
                                  </span>
                                </div>
                                <input type="text" name="email" class="form-control" value="abra@luca.com" placeholder="Email.">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
									<i class="fas fa-user"></i>
                                  </span>
                                </div>
                                <input type="password" name="password" class="form-control" value="1234" placeholder="Password.">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Login" class="btn login_btn">
                            </div>

                        </form>
                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            Usuario o contraseña inválidos.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success" role="alert">
                            Desloggeado.
                        </div>
                        <div th:if="${add}" class="alert alert-success" role="alert">
                            Desloggeado.
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            <strong>¿No tienes cuenta?</strong>
                            </div>
                            <div><a class="btn sign_btn" th:href="@{/register}">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>