<br>
<h3>Perfiles</h3>
<div class="card-deck" id="dispositivos" >
    <div class="flip-card-container" style="--hue: 220" *ngFor="let cliente of clientes">
        <div class="flip-card" >

                <div class="card-front">
                    <tr>
                        <img src="{{cliente.photo}}" alt="perfil">
                    </tr> 
                </div>
    
       
                <div class="card-back">
                 
                    <div class="card-body text-primary">
                        <h4 class="card-title">{{ cliente.name + ' ' + cliente.age+ ' years' }}</h4>
                        <br>
                        <h6>{{cliente.city}}</h6>
                        <br>
                        <p class="card-text">{{ cliente.descripcion }}</p>
                        <form> 
                            <tr >         
                                <button class="icono"><img class="iconoImg" src="https://i.ebayimg.com/images/g/tYMAAOSwn8FXSegM/s-l300.jpg" alt="..." ></button>
                                <button class="icono"><img class="iconoImg" src="https://img2.freepng.es/20180314/evw/kisspng-computer-icons-ok-clip-art-ok-cliparts-5aa9e54b4e16f7.9546381415210837233199.jpg" alt="..."></button>
                            </tr>
                        </form>
                    </div>
                    
                   <!-- <div class="card-header bg-transparent border-success"><h3>{{ cliente.name }}</h3></div>
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ cliente.desc }}</h5>

                    <div class="card-footer bg-transparent border-success">
                        <form> 
                            <tr >         
                                <button type="submit" class="btn btn-primary" role="button" value="Votar">Votar</button>      
                            </tr>
                        </form>
                    </div>
                        
                    </div>-->
                </div>
                        
        </div>  
    </div>
</div>

