
/* Hover over a card to flip, can tab too. */

@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* body */
body {
min-height: 100vh;
padding: 40px;

display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

text-align: center;

}

/*h2*/
h3 {
    text-align: center;
    color: rgb(163, 101, 15);
}

/* .flip-card-container */
.flip-card-container {
--hue: 150;

--white-1: hsl(0, 0%, 1%);
--white-2: hsl(0, 0%, 3%);
--dark: hsl(var(--hue), 25%, 10%);
--grey: hsl(0, 8%, 12%);

width: 200px;
height: 300px;
margin: 80px;

perspective: 1000px;
}

/* .flip-card */
.flip-card {
width: inherit;
height: inherit;

position: relative;
transform-style: preserve-3d;
transition: .6s .1s;
}

/* hover state */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
transform: rotateY(180deg);
}

/* .card-... */
.card-front{
width: 100%;
height: 100%;
border-radius: 24px;
border: 1px solid #FD902F;



text-align: center;

padding: 100px;

background: var(--white);
position: absolute;
top: 0;
left: 0;
overflow: hidden;

backface-visibility: hidden;

display: flex;
justify-content: center;
align-items: center;
}


.card-back {
width: 100%;
height: 100%;
border-radius: 24px;
border: 1px solid #FD902F;





padding: 20px;

background: var(--white);
position: absolute;
top: 0;
left: 0;
overflow: hidden;

backface-visibility: hidden;

display: flex;
justify-content: center;
align-items: center;
}

.red {
    color: red; 
}

.black {
    color: black;
}

/* .card-front */
.card-front {
transform: rotateY(0deg);
z-index: 2;
}

/* .card-back */
.card-back {
transform: rotateY(180deg);
z-index: 1;
}

/* figure */
figure {
z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
position: absolute;
top: 0;
left: 0;

width: 100%;
height: 100%;
}

/* img */
img {
    width: auto;
    height: auto;
}

/* iconos */
.icono {
    border-radius: 1000px;
    padding: 0px;
    border: 0px solid var(--grey);
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

.iconoImg {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
width: 6px;
border-left-color: var(--primary);
border-right-color: var(--primary);
}

/* ul */
ul {
padding-top: 50%;
margin: 0 auto;
width: 70%;
height: 100%;

list-style: none;
color: var(--white-1);

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

/* li */
li {
width: 100%;
margin-top: 12px;
padding-bottom: 12px;

font-size: 14px;
text-align: center;

position: relative;
}

li:nth-child(2n) {
color: var(--white-2);
}

li:not(:last-child)::after {
content: "";

position: absolute;
bottom: 0;
left: 0;

width: 100%;
height: 1px;

background: currentColor;
opacity: .2;
}


/* button*/
button {

color: var(--white-1);

letter-spacing: 2px;

padding: 9px 20px;
border: 1px solid var(--grey);
border-radius: 1000px;
background: transparent;
transition: .3s;

cursor: pointer;
}

/*
button:hover,
button:focus {
color: var(--primary);
background: hsla(var(--hue), 25%, 10%, .2);
border-color: currentColor;
}

button:active {
transform: translate(2px);
}*/

/* .design-container */
.design-container {
--tr: 90;
--op: .5;

width: 100%;
height: 100%;

background: transparent;
position: absolute;
top: 0;
left: 0;

pointer-events: none;
}

/* .design */
.design {
display: block;

background: var(--dark);
position: absolute;

opacity: var(--op);
transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
width: 1px;
height: 100%;
}

.design--1,
.design--2 {
top: 0;
transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
left: 20%;
}

.design--2 {
left: 80%;
}

.design--3,
.design--4 {
bottom: 0;
transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
left: 24%;
}

.design--4 {
left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
width: 100%;
height: 1px;
}

.design--5,
.design--6 {
left: 0;
transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
top: 41%;
}

.design--6 {
top: 59%;
}

.design--7,
.design--8 {
right: 0;
transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
top: 44%;
}

.design--8 {
top: 56%;
}

/* states */
button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
--tr: 20;
--op: .7;
}

